<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>selectText</key>
	<string>68,55,63 </string>
	<key>background</key>
	<string>31,32,36</string>
	<key>text</key>
	<string>136,145,152</string>
</dict>
</plist>
